graft src/kitconcept/glossary
graft docs
include *.rst
include *.txt
exclude *.cfg
exclude *.yml
exclude *.yaml
exclude .coveragerc
exclude .eslintrc
exclude kitconcept.png
exclude news
exclude webpack
global-exclude *.pyc
global-exclude Makefile
recursive-exclude webpack *
