graft src/kitconcept/glossary
graft docs
include *.rst
include *.txt
exclude *.cfg
exclude *.yml
exclude *.yaml
exclude kitconcept.png
exclude news
global-exclude *.pyc
global-exclude Makefile
recursive-exclude webpack *
