@import 'scss/tooltip.css';

.glossaryAbcedaire,
#content ul.glossaryAbcedaire {
    list-style: none;
    margin: 0;
    margin-bottom: 1em;
}

.glossaryAbcedaire li,
#content ul.glossaryAbcedaire li {
    display: inline;
    margin: 0;
    margin-right: 0.5em;
}

.glossaryAbcedaire .selected,
#content ul.glossaryAbcedaire .selected {
    font-weight: bold;
    font-size: 150%;
    text-decoration: none;
}
